{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "insertFinalNewline": true,
  "noTrailingWhitespace": true,
  "spaceBeforeFunctionParen": true,
  "quoteProps": "as-needed",
  "arrayBracketSpacing": true
}